/* 全体のcss */
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #fffafb;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

a {
    color: #ff69b4;
}

a:hover {
    color: #FFA6C9;
}

header {
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  text-align: left;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.banner .btn {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-bar .form-control {
   padding: 10px;
   width: 300px;
   border: 1px solid #cccccc;
   border-radius: 4px;
}
.search-bar .btn-search {
   padding: 10px;
   background-color: #333333;
   color: white;
   border: none;
   border-radius: 4px;
   margin-left: 10px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.navbar {
  border-bottom: 2px solid #333;
  padding: 10px 20px;
}

.navbar-brand img {
  width: 30px;
}

.form-control {
  width: 300px;
  display: inline-block;
  margin-left: 20px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.result-item {
  width: 160px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.result-item:hover {
  transform: scale(1.50);
}

.result-item img {
  width: 100%;
  height: 90px; /* Adjusted height */
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.result-item video {
  width: 100%;
  height: 90px; /* Adjusted height */
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.result-item .channel-name {
  font-size: 7px;
  color: #555;
  margin-bottom: 5px;
}

.result-item .video-title {
  font-size: 8px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.result-item .video-description {
  font-size: 6px;
  color: #777;
}

.result-item .video-meta {
  font-size: 6px;
  color: #aaa;
  margin-top: 5px;
}

.btn {
 background-color: #ff8181;
  color: white;
}


.playresult-item {
  width: 160px; /* Adjusted width */
  border: 1px solid #ee7800;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.playresult-item img {
  width: 100%;
  height: 90px; /* Adjusted height */
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.playresult-item .channel-name {
  font-size: 7px;
  color: #555;
  margin-bottom: 5px;
}

.playresult-item .video-title {
  font-size: 8px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
.small-iframe {
  display: none;
}