<!DOCTYPE html>
<html>
<head>
    <title>QRコードを作成！</title>
</head>
<body>
    処理中です<br>ちょっと待ってね<br>
  
    <a href="/video?v="></a>
    <script>setTimeout(function(){location.reload();},1000);</script>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const vValue = urlParams.get('v');
    if (vValue === null) {
      document.getElementById('vValue').textContent = 'vパラメータはURLに存在しません';
    } else {
      document.getElementById('vValue').textContent = 'vの値: ' + vValue;
    }
  </script>
</body>
</html>