<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ヘッドホンの選び方</title>
    <link rel="stylesheet" href="/css/heddohon.css">
    <script src="/static/heddohon.js"></script>
  </head>
  <body>
    <div id="loader">🎧</div>

    <div id="content">
      <h1>ゲーム</h1>
      <p>
        ぜひ楽しんでみて下さい！あなたの手で！
      </p>
      <a href="https://scratch.mit.edu/users/saibansyo" target="_blank"
        >Follow 🎧!</a
      >
      <a href="/">もどる</a>
      <div id="features">
        <h2>🧩 リスト 🧩</h2>
        <a href="/craft"
          ><div class="feature">
            <h3>⛏️ まいくら</h3>
            <p>
              あなたのブラウザでEaglercraftを楽しむことができます。もちろん、それはモバイルに対応しています。<br>
              ※マイクラをプレイする際、マイクラ以外のすべてのタブとアプリを閉じることを推奨します<br>
              ※通信環境の悪いところで読み込むとデータが破損する恐れがあります。
            </p>
          </div></a
        >
        <a href="/snowball"
          ><div class="feature">
            <h3>⛄️ snowball.io</h3>
            <p>
              クリックして、猟奇的なバトルロワイヤルに今すぐ参加できます！
            </p>
          </div></a
        >
        <a href="/drive"
          ><div class="feature">
            <h3>🚗 今すぐ走り出す</h3>
            <p>
              あなたはゴールを目指して、ただ進みます。当然、破壊されることは避けるべきです！
            </p>
          </div></a
        >
        <a href="/2048"
          ><div class="feature">
            <h3>📃 2048</h3>
            <p>
              モバイルに対応していません！大きな数字を目指して、あなたはパズルします。
            </p>
          </div></a
        >
        <a href="/"
          ><div class="feature">
            <h3>Coming soon</h3>
            <p>
              まだ実装されていません。今後のアップデートで追加予定です。お待ちください
            </p>
          </div></a
        >
    </div>
    </div>
    
  </body>
</html>
