<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ヘッドホンの選び方</title>
    <link rel="stylesheet" href="/css/heddohon.css">
  </head>
  <body>
    <div id="loader">🎧</div>

    <div id="content">
      <h1>ゲーム</h1>
      <p>
        ぜひ楽しんでみて下さい！あなたの手で！
      </p>
      <a href="https://scratch.mit.edu/users/saibansyo" target="_blank"
        >Follow 🎧!</a
      >
      <div id="features">
        <h2>🧩 リスト 🧩</h2>
        <a href="/snowball"
          ><div class="feature">
            <h3>⛄️ snowball.io</h3>
            <p>
              クリックして、猟奇的なバトルロワイヤルに今すぐ参加できます！
            </p>
          </div></a
        >
        <a href="/drive"
          ><div class="feature">
            <h3>🚗 今すぐ走り出す</h3>
            <p>
              あなたはゴールを目指して、ただ進みます。当然、破壊されることは避けるべきです！
            </p>
          </div></a
        >
        <a href="/2048"
          ><div class="feature">
            <h3>📃 2048</h3>
            <p>
              モバイルに対応していません！大きな数字を目指して、あなたはパズルします。
            </p>
          </div></a
        >
    </div>
    </div>

    <button id="dark-mode-toggle">🌙 ダークモード</button>

    <script>
      window.onload = function () {
        setTimeout(() => {
          document.getElementById("loader").style.display = "none";
          document.getElementById("content").style.display = "block";
        }, 2000);

        if (getCookie('darkMode') === 'true') {
          document.body.classList.add('dark-mode');
        }
      };

      const bgmButton = document.getElementById("bgm-button");
      const bgmAudio = document.getElementById("bgm-audio");

      bgmButton.addEventListener("click", () => {
        if (bgmAudio.paused) {
          bgmAudio.play();
          bgmButton.textContent = "⏸️ bgmを停止する ⏸️";
        } else {
          bgmAudio.pause();
          bgmButton.textContent = "🎵 bgmを再生する 🎵";
        }
      });

      const darkModeToggle = document.getElementById("dark-mode-toggle");

      darkModeToggle.addEventListener("click", () => {
        const isDarkMode = document.body.classList.toggle("dark-mode");
        setCookie('darkMode', isDarkMode, 7);
      });

      function setCookie(name, value, days) {
        const expires = new Date();
        expires.setTime(expires.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = name + "=" + value + ";expires=" + expires.toUTCString() + ";path=/";
      }

      function getCookie(name) {
        const nameEQ = name + "=";
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i].trim();
          if (c.indexOf(nameEQ) === 0) {
            return c.substring(nameEQ.length, c.length);
          }
        }
        return null;
      }
    </script>
  </body>
</html>
