<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ヘッドホンの選び方</title>
    <link rel="stylesheet" href="/css/heddohon.css">
    <script src="/js/heddohon.js"></script>
  </head>
  <body>
    <div id="loader">🎧</div>

    <div id="content">
      <h1>ヘッドホン万歳！</h1>
      <button id="bgm-button">🎵 bgmを再生する 🎵</button>
      <audio
        id="bgm-audio"
        src="https://cdn.glitch.global/afdfa13f-436f-464b-84a1-e2f59bc4e2fa/videoplayback%205.mp4"
        loop
      ></audio>
      <p>
        こんにちは！私のサイトに訪れてくれてありがとうございます。<br />ヘッドホンです<br />
        ネタかどうかを見極める力が欲しいですね。
      </p>
      <a href="https://scratch.mit.edu/users/saibansyo" target="_blank"
        >Follow 🎧!</a
      >
      <a href="/heddohon" target="_blank"
        >もっと詳しく</a
      >

      <div id="features">
        <h2>🎉 一覧 🎉</h2>
        <a href="/home"
          ><div class="feature">
            <h3>📺 YouTube(Yuki)</h3>
            <p>
              好きなYouTube動画を再生できます。気になる動画を探してみてください！
            </p>
          </div></a
        >
        <a href="/app"
          ><div class="feature">
            <h3>🎮 ゲーム</h3>
            <p>
              オープンソースの無料ゲームを楽しめます。あなたの腕前を見せて下さい！
            </p>
          </div></a
        >        <a href="/android"
          ><div class="feature">
            <h3>📱 Android</h3>
            <p>
              あなたの携帯電話は、いつでも使用可能です！ただし、それは使いやすいことを意味しません😣
            </p>
          </div></a
        >
      <a href="https://gpt-bot.userlocal.jp/bot/960d1aa0"
          ><div class="feature">
            <h3>☔️ 春雨と会話する</h3>
            <p>
              親愛なる春雨が、あなたが来るのを待っています！今すぐ飛び込んで、春雨と一緒になろう！
            </p>
          </div></a
        >
      </div>
    </div>

    <button id="dark-mode-toggle">🌙 ダークモード</button>

  
  </body>
</html>
