<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🎧</title>
    <link rel="stylesheet" href="/css/heddohon.css">
  </head>
  <body>
    <div id="loader">🎧</div>

    <div id="content">
      <h1>自己紹介</h1>
      <p>
        こんにちは。<br>
        しずえ&しずえで頑張ってます。
      </p>
      <a href="https://scratch.mit.edu/users/saibansyo" target="_blank"
        >Follow 🎧!</a
      >
      <h1>
        サイト説明
      </h1>
      <p>
        暇だったのでYukiを改造してみました。<br>
        パスを消したので掲示板見れたらまずいかなぁ、と思い掲示板は消しました。<br><br>
        動画を読み込まない場合、「別の処理方法を試す」を押すと解決することがあります。それでも解決しない場合は時間をおいて試してみて！
      </p>
      <div id="features">
        <h2>🎉 一覧 🎉</h2>
        <a href="https://render.com/deploy?repo=https://github.com/sadaramagura/heddohon.git"
          ><div class="feature">
            <h3>📁 このサイトを複製する</h3>
            <p>
              ここを押すと、このサイトを複製できます！規制を回避したい場合、
              アップデートが反映されなくなるためremixは推奨されません。(ここから複製して下さい)
            </p>
          </div></a
        >
    </div>
    </div>
    
    <button id="dark-mode-toggle">🌙 ダークモード</button>
    
    <script>
      window.onload = function () {
        setTimeout(() => {
          document.getElementById("loader").style.display = "none";
          document.getElementById("content").style.display = "block";
        }, 2000);

        if (getCookie('darkMode') === 'true') {
          document.body.classList.add('dark-mode');
        }
      };

      const bgmButton = document.getElementById("bgm-button");
      const bgmAudio = document.getElementById("bgm-audio");

      bgmButton.addEventListener("click", () => {
        if (bgmAudio.paused) {
          bgmAudio.play();
          bgmButton.textContent = "⏸️ bgmを停止する ⏸️";
        } else {
          bgmAudio.pause();
          bgmButton.textContent = "🎵 bgmを再生する 🎵";
        }
      });

      const darkModeToggle = document.getElementById("dark-mode-toggle");

      darkModeToggle.addEventListener("click", () => {
        const isDarkMode = document.body.classList.toggle("dark-mode");
        setCookie('darkMode', isDarkMode, 7);
      });

      function setCookie(name, value, days) {
        const expires = new Date();
        expires.setTime(expires.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = name + "=" + value + ";expires=" + expires.toUTCString() + ";path=/";
      }

      function getCookie(name) {
        const nameEQ = name + "=";
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i].trim();
          if (c.indexOf(nameEQ) === 0) {
            return c.substring(nameEQ.length, c.length);
          }
        }
        return null;
      }
    </script>
  </body>
</html>
