<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ヘッドホンの選び方</title>
    <link rel="stylesheet" href="/css/heddohon.css">
    <script src="/static/heddohon.js"></script>
  </head>
  <body>
    <div id="loader">🎧</div>

    <div id="content">
      <h1>自己紹介</h1>
      <p>
        こんにちは。<br>
        しずえ&しずえで頑張ってます。
      </p>
      <a href="https://scratch.mit.edu/users/saibansyo" target="_blank"
        >Follow 🎧!</a
      >
      <a href="/">もどる</a>
      <h1>
        サイト説明
      </h1>
      <p>
        暇だったのでYukiを改造してみました。<br>
        パスを消したので掲示板見れたらまずいかなぁ、と思い掲示板は消しました。<br><br>
        動画を読み込まない場合、「別の処理方法を試す」を押すと解決することがあります。それでも解決しない場合は時間をおいて試してみて！
      </p>
      <div id="features">
        <h2>🎉 一覧 🎉</h2>
        <a href="https://render.com/deploy?repo=https://github.com/sadaramagura/heddohon.git"
          ><div class="feature">
            <h3>📁 このサイトを複製する</h3>
            <p>
              ここを押すと、このサイトを複製できます！規制を回避したい場合、
              アップデートが反映されなくなるためremixは推奨されません。(ここから複製して下さい)
            </p>
          </div></a
        >
        <a href="https://render.com/deploy?repo=https://github.com/sadaramagura/heddohon.git"
          ><div class="feature">
            <h3>✉️ 問い合わせ</h3>
            <p>
              何か気づかれましたか？あなたはそれを私に問い合わせることができます。
            </p>
          </div></a
        >
    </div>
    </div>

  </body>
</html>
