<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ヘッドホンの選び方</title>
    <link rel="stylesheet" href="/css/heddohon.css">
    <script src="/static/heddohon.js"></script>
  </head>
  <body>
    <div id="loader">🎧</div>

    <div id="content">
      <h1>ツール</h1>
      <p>
        これがあなたを助けると良いですね！
      </p>
      <a href="https://scratch.mit.edu/users/saibansyo" target="_blank"
        >Follow 🎧!</a
      >
      <div id="features">
        <h2>🧰 一覧 🧰</h2>
        <a href="/android"
          ><div class="feature">
            <h3>📱 Android</h3>
            <p>
              あなたの携帯電話は、いつでも使用可能です！ただし、それは使いやすいことを意味しません😣
            </p>
          </div></a
        >
        <a href="/fileview"
          ><div class="feature">
            <h3>📱 ファイルビューア</h3>
            <p>
              あなたのファイルをweb上で閲覧できます！ファイルアプリが消されてる場合などに使ってみると良いかもしれません
            </p>
          </div></a
        >
      </div>
    </div>

  </body>
</html>
